<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobile_app_blockchain.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
				<key>dateExpires</key>
				<string>04/04/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>5.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_barcode_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F1F52F56FBCE2BC1EF1496722DE7AC3F569CAF9</string>
						<key>dateExpires</key>
						<string>04/04/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L94683QNV</string>
						<key>name</key>
						<string>Quốc Bảo Nguyễn</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>name</key>
			<string>Runner.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2L94683QNV</string>
				<key>name</key>
				<string>Quốc Bảo Nguyễn</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
